<div class="parent">
    <article *ngFor="let group of docGroupList" igxDrop [id]="group.id" (enter)="onStateContainerEnter($event)"
        (leave)="onStateContainerLeave($event)" (dropped)="onItemDropped($event)">
    
        <header>
            <h4 class="state-title">{{group.name}}</h4>
            <igx-chip>
                <span class="state-number">
                    {{group.thumbList.length}}
                </span>
            </igx-chip>
        </header>
        <section>
            <igx-card *ngFor="let item of group.thumbList; let i = index" igxDrag igxDrop
                (dragStart)="dragStartHandler($event)" (dragEnd)="dragEndHandler($event)" (enter)="onItemEnter($event)"
                (leave)="onItemLeave($event)" [class.invisible]="item.id === 'dummy'" id="{{item.id}}"
                [attr.data-group]="item.group" (ghostCreate)="item.hide = true"
                [style.visibility]='item.hide ? "hidden" : "visible"' [dragTolerance]="0" [ghostClass]="'drag-ghost'"
                (dragMove)="dragMoveHandler($event)" (dropped)="droppedHandler($event)">
                <img src="assets/images/{{item.src}}" />
                <div class="filename">{{ item.name }}</div>
                <igx-icon class="close" (click)="delete(group.id,i)">close</igx-icon>
                <igx-checkbox class="checkbox" [(ngModel)]="item.checked"></igx-checkbox>
            </igx-card>
        </section>
    </article>
</div>